#wrap{

    padding: 10px;
}

.completed{
text-decoration: line-through;
}

td{
    background-color: #FFFFF5
}

#prio{
    padding: 2%;
}

#prio-box{
    box-sizing: content-box;
    width: 100%;
    color: white;
    padding: 5px;
    border: solid 5px;
}